<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>订单确认</title>
        <link th:href="@{~/portal/favicon.ico}" rel="shortcut icon">
        <link th:href="@{~/portal/layui/css/layui.css}" rel="stylesheet" />
        <link th:href="@{~/portal/css/com.pzh.portal.common.css}" rel="stylesheet" />

        <script th:src="@{~/portal/jquery/jquery-2.1.4.min.js}"></script>
        <script th:src="@{~/portal/layui/layui.js}"></script>

        <style type="text/css">
            .itemBox {
                width: 700px;
            }
        </style>
    </head>

    <body>
        <input id="itemIds" th:value="${itemIds}" style="display: none" />
        <div class="myPage">
            <!-- 订单确认 -->
            <form id="addMask" class="layui-form" lay-filter="addMask" style="padding: 10px;">
                <div class="itemBox" id="shippingSelect">
                    <div class="layui-form-item">
                        <label>收货地址:</label>
                        <div class="layui-inline" style="width: 625px">
                            <select id="shipping" lay-verify="required">
                                <option value="1" selected>收货地址1(默认)</option>
                                <option value="2">收货地址2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="itemBox" id="itemList">
                    <table class="layui-hide" id="orderTable" lay-filter="orderFilter" style="width: 100%"></table>
                </div>
                <div class="itemBox">
                    <div class="layui-form-item">
                        <label>配送方式:</label>
                        <div class="layui-inline" style="width: 480px">
                            <select id="postType" lay-verify="required">
                                <option value="1" selected>快递 免邮</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label>订单备注:</label>
                        <div class="layui-inline">
                            <textarea id="userNote" placeholder="选填，请先和商家协调一致" style="height: 80px; width: 480px; padding: 4px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="itemBox">
                <div style="text-align: right; width: 100%">
                    <input style="display: none;" id="payment" th:value="${amount}" />
                    <label th:text="'合计：' + ${amount} + '元'"></label>
                    <a class="layui-btn" href="javascript:;" onclick="generateOrder();">提交订单</a>
                </div>
            </div>
        </div>
    </body>

    <script th:inline="javascript">
        var ctx = [[@{/}]];
        layui.use(['table'], function() {
            var table = layui.table;

            // 表格数据载入
            console.log("ctx:", ctx);
            console.log("itemIds:", $("#itemIds").val());
            table.render({
                elem: '#orderTable',
                url: ctx + 'order/listItem',
                method: 'post', //方式
                page: false, //开启分页
                loading: true, //翻页加loading
                where: {
                    itemIds: $("#itemIds").val()
                },
                cellMinWidth: 80,
                id: 'tableData',
                cols: [ //表头
                    [{
                        title: '序号',
                        width: 60,
                        templet: function (d) {
                            return d.LAY_TABLE_INDEX + 1
                        }
                    }, {
                        field: 'itemName',
                        title: '商品名称',
                        width: 150
                    },{
                        field: 'productSpecs',
                        title: '商品属性',
                        width: 120
                    }, {
                        field: 'pic',
                        title: '商品图片',
                        width: 120
                    },{
                        field: 'price',
                        title: '价格',
                        width: 120
                    }, {
                        field: 'quantity',
                        title: '购买数量'
                    }]
                ]
            });

        });

        function generateOrder() {
            console.log("生成订单");
            var payment = $("#payment").val();
            var postType = $("#postType").val();
            var userNote = $("#userNote").val();
            console.log("payment:", payment, " postType:", postType, " userNote:", userNote);

            $.ajax({
                type: "POST",
                url: ctx + 'order/generateOrder',
                data: {
                    payment: payment,
                    postType: postType,
                    userNote: userNote,
                    itemIds: $("#itemIds").val()
                },
                dataType: "JSON",
                success: function(data){
                    console.log(data);
                    if (data.code == 0) {
                        layer.msg('生成订单成功', {icon: 1});

                        // 跳转订单列表
                        window.location.href = ctx + "order/orderList";
                    }
                },
                error:function(){
                    layer.alert("本次操作失败，请重新操作！", {icon:5, title:'错误'});
                    return false;
                }
            })
        }
    </script>
</html>