<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzh.mall.module.dao.UserRoleDao">

    <resultMap type="com.pzh.mall.module.domain.Role" id="role">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="NUMERIC"/>
        <id column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <id column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <id column="status" property="status" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
        <id column="sort" property="sort" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="findByUserName" resultMap="role">
        SELECT r.id, r.name, r.description, r.create_time createTime, r.status, r.sort FROM ums_role r, ums_user_role ur, ums_user u WHERE r.id = ur.role_id AND u.id = ur.user_id AND u.user_name = #{userName}
    </select>

</mapper>