<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzh.mall.module.dao.AttributeDao">
    <select id="list" resultType="com.pzh.mall.module.domain.Attribute">
        SELECT a.id, a.`name`, a.category_id categoryId, b.`name` categoryName, b.`level` FROM pms_attribute_key a, pms_category b WHERE a.category_id = b.id
    </select>

    <select id="read" resultType="com.pzh.mall.module.domain.Attribute">
        SELECT t.id, t.`name`, t.category_id categoryId FROM pms_attribute_key t WHERE t.id = #{id}
    </select>

    <insert id="add" parameterType="com.pzh.mall.module.domain.Attribute" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_key(category_id, name) VALUES (#{categoryId}, #{name})
    </insert>

    <update id="edit" parameterType="com.pzh.mall.module.domain.Attribute">
        UPDATE pms_attribute_key t SET t.category_id = #{categoryId}, t.`name` = #{name} WHERE t.id = #{id}
    </update>

    <delete id="remove">
        DELETE FROM pms_attribute_key WHERE id = #{id}
    </delete>

    <insert id="saveOrUpdateValues">
        INSERT INTO pms_attribute_value(attribute_id, attribute_value) VALUES (#{attributeId}, #{attributeValue}) ON DUPLICATE KEY UPDATE attribute_value = #{attributeValue} WHERE attribute_id = #{attributeId}
    </insert>

    <select id="readValues" resultType="com.pzh.mall.module.domain.AttributeValue">
        SELECT t.attribute_id attributeId, t.attribute_value attributeValue FROM pms_attribute_value t WHERE t.attribute_id = #{attributeId}
    </select>
</mapper>