<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzh.mall.module.dao.StudentDao">
    <resultMap id="BaseResultMap" type="com.pzh.mall.module.domain.Student">
        <result column="student_no" jdbcType="VARCHAR" property="sno" />
        <result column="student_name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
    </resultMap>

    <insert id="add" parameterType="com.pzh.mall.module.domain.Student">
        INSERT INTO uc_student(student_no, student_name, sex) VALUES(#{sno}, #{name}, #{ssex});
    </insert>

    <update id="update" parameterType="com.pzh.mall.module.domain.Student">
        UPDATE uc_student t SET t.student_name = #{name}, t.sex = #{ssex} WHERE t.student_no = #{sno};
    </update>

    <delete id="deleteBySno">
        DELETE uc_student t WHERE t.student_no = #{sno};
    </delete>

    <select id="queryStudentBySno" resultMap="BaseResultMap">
        SELECT * FROM uc_student t WHERE t.student_no = #{sno};
    </select>

    <select id="queryAllStudents" resultMap="BaseResultMap">
        SELECT * FROM uc_student
    </select>

    <select id="listForPage" resultMap="BaseResultMap">
        SELECT * FROM uc_student
    </select>

</mapper>